# Options +FollowSymLinks
# IndexIgnore */*
# <IfModule mod_rewrite.c>
# RewriteEngine on
# 
# # if a directory or a file exists, use it directly
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# 
# # otherwise forward it to index.php
# RewriteRule . index.php
# </IfModule>
# 
# 
AddDefaultCharset utf-8
 
Options +FollowSymLinks
IndexIgnore */*
<IfModule mod_rewrite.c>

RewriteEngine on
 
# Make the backend accessible via url: http://site/backend.
RewriteRule ^backend backend.php
 
# If a directory or a file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Otherwise forward it to index.php.
RewriteRule . index.php
</IfModule>
