<?php

// uncomment the following to define a path alias
// Yii::setPathOfAlias('local','path/to/local-folder');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return array(
	'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
	'name'=>'My Web Application',
	'defaultController' => 'site',
	
	'theme' => 'renewal',

	// preloading 'log' component
    'preload'=>array('log', 'session'),

	// autoloading model and component classes
	'import'=>array(
		'application.models.*',
		'application.components.*',
		'application.extensions.KEmail.KEmail',
		'application.extensions.wEditorx.wEditorx'
	),

	'behaviors' => array(
		'runEnd' => array(
		'class'  => 'application.components.WebApplicationEndBehavior',
	 	),
	),
		
		
	'modules'=>array(
		// uncomment the following to enable the Gii tool
		// /*
		'gii'=>array(
			'class'=>'system.gii.GiiModule',
			'password'=>'password',
		 	// If removed, Gii defaults to localhost only. Edit carefully to taste.
			'ipFilters'=>array('127.0.0.1','::1'),
		),
		// */
	),

	// application components
	'components'=>array(
// 		'user'=>array(
// 			// enable cookie-based authentication
// 			'allowAutoLogin'=>true,
// 			'loginUrl'=>'site/login',
// 			'class' => "UserIdentity",
// 		),
		// uncomment the following to enable URLs in path-format
		'urlManager'=>array(
			'urlFormat'=>'path',
			'rules'=>array(
				'<controller:\w+>/<id:\d+>'=>'<controller>/view',
				'<controller:\w+>/<action:\w+>/<id:\d+>'=>'<controller>/<action>',
				'<controller:\w+>/<action:\w+>'=>'<controller>/<action>',
			),
		),

		// uncomment the following to use a MySQL database

		'db'=>array(
			'connectionString' => 'mysql:host=localhost;dbname=datacraft_web',
			'emulatePrepare' => true,
			'username' => 'user',
			'password' => 'password',
			'charset' => 'utf8',
			'enableParamLogging' => true,
		),

		'errorHandler'=>array(
			// use 'site/error' action to display errors
            'errorAction'=>'site/error',
        ),
//		'log'=>array(
//			'class'=>'CLogRouter',
//			'routes'=>array(
//				array(
//					'class'=>'CFileLogRoute',
//					'levels'=>'error, warning',
//				),
//				// uncomment the following to show log messages on web pages
//				/*
//				array(
//					'class'=>'CWebLogRoute',
//				),
//				*/
//			),
//		),
//			'log'=>array(
//					'class'=>'CLogRouter',
//					'routes'=>array(
//							array(
//									'class'=>'CWebLogRoute',
//									'levels'=>'trace,info,error,warning',
//									'filter' => array(
//											'class' => 'CLogFilter',
//											'prefixSession' => true,
//											'prefixUser' => false,
//											'logUser' => false,
//											'logVars' => array(),
//									),
//							),
//					),
//				),
			'log'=>array(
					'class'=>'CLogRouter',
					'routes'=>array(
							array(
									'class'=>'CFileLogRoute',
									//'levels'=>'trace,log',
                                    'levels'=>'trace,info,error,warning',
									'categories' => 'system.db.CDbCommand',
									'logFile' => 'db.log',
							),
					),
			),


		'email'=>array(
				'class'=>'KEmail',
				'enable_queue'				=>	false, //This enabled to queue
				'autocreate_db_table'		=> false,
				'host_name'               	=> 'localhost',  //Hostname or IP of smtp server
				'user'                      => 'pradesh@datacraft.co.za',  //Hostname or IP of smtp server
				'password'              	=> 'august09',  //Hostname or IP of smtp server
				'pop3_auth_host'        	=> 'pop.datacraft.co.za',  //Set to authenticate to a pop3 server
				'debug'                     => false,
				'html_debug'            	=> false,
				'localhost'                 => 'localhost',           // Given hostname of client

		),
		'audit'=>array('class'=>'Audit'),
		'session' => array(
				'timeout' => 900,
		),
		
// 		// Jquery components
// 		'jquery'=>array(
// 				'baseUrl'=>'//ajax.googleapis.com/ajax/libs/jquery/1.8/',
// 				'js'=>array('jquery.min.js'),
// 				'coreScriptPosition'=>CClientScript::POS_HEAD
// 		),
// 		'bootstrap3'=>array(
// 				'baseUrl'=>'//ajax.googleapis.com/ajax/libs/jquery/1.8/',
// 				'js'=>array('jquery.min.js'),
// 				'coreScriptPosition'=>CClientScript::POS_HEAD
// 		),
		// do not use built-in jquery.js library
		'clientScript'=> array(
				'class' => 'CClientScript',
				'scriptMap' =>  array(
						'jquery.js'=>  false,
				),
				'coreScriptPosition' => CClientScript::POS_BEGIN,
		),
		

	),

	// application-level parameters that can be accessed
	// using Yii::app()->params['paramName']
	'params'=>array(
		// this is used in contact page
		'adminEmail'=>'webmaster@example.com',
	),
);
